* {
    noir-accent: #B9D86B;
    noir-secondary: #7CC7D9;
    noir-tertiary: #8496D5;
    noir-muted: #8992A1;
    noir-outline: #303845;
    noir-danger: #EF7180;
    noir-bg: #080A0F;
    noir-surface: #10141C;
    noir-surface-alt: #181E28;
    noir-text: #F1F3ED;
}